@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fundo-principal: #d3d3d3;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #000AFF;
    --destaque-inverso: hsl(203, 100%, 60%);
    --fundo-card: #ffffff;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header{
    background-color: var(--destaque);
    color: var(--texto);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#menu ul{
    display: flex;
    gap: 10px;
    list-style: none;
    text-decoration: none;
}

#menu a{
    color: var(--texto-inverso);
    text-decoration: none;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color .5s, color .5s;
}

#menu a:hover{
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}

main{
    display: grid;
    grid-template: 1fr / 1fr 90vw 1fr;
    margin-top: 20px;
    gap: 20px;
}

#ficha{
    background-color: var(--fundo-card);
    padding: 20px;
    border-radius: 10px;
    grid-area: 1 / 2;
}

.foto{
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid var(--fundo-card);
    outline: 5px solid var(--destaque);
    display: block;
    margin: auto;
    margin-bottom: 15px;
}

#ficha h1{
    color: var(--destaque);
    font-size: 1.5em;
    margin: 15px 0px;
}

#social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 15px;
}

#social a{
    font-size: 1.5em;
    color: var(--destaque);
    transition: color .5s;
}

#social a:hover{
    color: var(--destaque-inverso);
}
