@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fundo-principal: #f5f5f5;
    --texto: #222222;
    --texto-inverso: #ffffff;
    --destaque: #F15A38;
    --destaque-inverso: #f1a138;
    --fundo-card: #ffffff;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--fundo-principal);
    color: var(--texto);
}

header{
    background-color: var(--destaque);
    color: var(--texto);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#menu ul{
    display: flex;
    gap: 10px;
    list-style: none;
    text-decoration: none;
}

#menu a{
    color: var(--texto-inverso);
    text-decoration: none;
    font-weight: 600;
    padding: 12px 15px;
    border-radius: 5px;
    transition: background-color .5s, color .5s;
}

#menu a:hover{
    background-color: var(--destaque-inverso);
    color: var(--destaque);
}

/* main{
    display: grid;
    grid-template: repeat(2, 300px) / 20px 1fr 20px;
}

.ficha{
    background-color: red;
    grid-area: 1 / 2;
}

.detalhe{
    background-color: rgb(102, 1, 1);
    grid-area: 2 / 2;
}

footer{
    height: 10vh;
    background-color: rgb(1, 1, 101);
} */

