main{
    grid-template: auto / Auto 300px 1fr Auto;
}

#ficha{
    grid-area: 1 / 2;
    height: fit-content;
    position: sticky;
    top: 65px;
}

#detalhes{
    grid-area: 1 / 3;
}

#skill-container{
    grid-template-columns: 1fr 1fr;
}

#projeto-container .projeto{
    flex-direction: row-reverse;
    justify-content: space-between;
}

#projeto-container .projeto-info{
    max-width: 80%;
}

#projeto-container .projeto a{
    max-width: 20%;
    max-height: 200px;
}

#projeto-container .foto{
    aspect-ratio: 1 / 1;
    height: 100%;
}